<!DOCTYPE html>
<html lang="en">
<head>
  <title>Project #2 - Device Development 1.0</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Image Gallery</h2>
  <h3>Ian Yang / 101373444</h3>
  <h4>Image 3 / 10</h4>
  <div class="row">
    <div class="col-md-1"><div class="pull-right">< Go Back</div></div> <div class="col-md-10">
      <div class="thumbnail">

          <img src="http://via.placeholder.com/1080x360"  class="img-thumbnail" alt="Lights" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
      </div>
    </div>
 <div class="col-md-1">Go Forward ></div>
  </div>
</div>
  <div class="row">
  <div class="col-md-1"></div>
        <div class="col-md-10">

          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-1"><img src="./images/85bb5b841418fd1b7f1c53cba9d623e4--beach-umbrella-beach-chairs.jpg"  class="img-thumbnail" alt="Lights"></div>
            <div class="col-md-1"><img src="./images/beach.jpg"  class="img-thumbnail" alt="Lights"></div>
            <div class="col-md-1"><img src="./images/download (1).jpeg"  class="img-thumbnail" alt="Lights"></div>
            <div class="col-md-1"><img src="./images/download.jpeg"  class="img-thumbnail" alt="Lights"></div>
            <div class="col-md-1"><img src="http://via.placeholder.com/90"  class="img-thumbnail" alt="Lights"></div>
            <div class="col-md-1"><img src="http://via.placeholder.com/90"  class="img-thumbnail" alt="Lights"></div>
            <div class="col-md-1"><img src="http://via.placeholder.com/90"  class="img-thumbnail" alt="Lights"></div>
            <div class="col-md-1"><img src="http://via.placeholder.com/90"  class="img-thumbnail" alt="Lights"></div>
            <div class="col-md-1"><img src="http://via.placeholder.com/90"  class="img-thumbnail" alt="Lights"></div>
             <div class="col-md-1"><img src="http://via.placeholder.com/90"  class="img-thumbnail" alt="Lights"></div>
              <div class="col-md-1"></div>
          </div>
        </div>
  <div class="col-md-1"></div>
  </div>
</body>
</html>



